#current_state_wrapper {
    position: fixed;
    top: 10%;
    right: 0;

    width: 50%;
    height: 90%;
}

#processes_wrapper {
    height: 30%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#all_processes {
    height: 70%;
    width: 100%;

    overflow-y: auto;
}

#clear_call_queue_button {
    color: red;
    font-size: medium;

    display: inline-block;

    cursor: pointer;
}

.process_name {
    color: white;
}

.process_calls {
    color: yellow;
}

#animation_call_table {
    position: fixed;
    top: 35%;
    left: 20%;
    width: 60%;
    max-height: 40%;

    overflow: auto;
    scrollbar-gutter: stable both-edges;
}

th:first-child {
    position: sticky;
    left: 0;

    color: yellow;
    background-color: #010409;
    border-color: white !important;
}

.tg .header {
    min-width: 75px;
}

.tg {
    border-collapse: separate;
    border-spacing: 0;
}

.tg td{
    border-color: whitesmoke;
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 15px 5px;
    word-break: normal;

    width: 75px;
}

.tg th{
    border-color: rgba(255, 255, 255, 0.3);
    border-style: solid;
    border-width: 1px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 15px 5px;
    word-break: normal;
    background-clip: padding-box; 

    width: 75px;
}

.tg .tg-0lax{
   text-align: left;
   vertical-align: top;
}
