@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    background: black;

    margin: 0;
    width: 100%;
    height: 100%;

    overflow: hidden;
    display: block;

    font-family: 'Montserrat', sans-serif;
    color: white;
}

h1, h2, h3, h4{
    text-align: center;
}

input {
    background: black;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;

    margin-right: 0;
    float: right;
}

label {
    display: inline-block;
    padding: 5px;
    margin: 5px;
}

#settings {
    position: fixed;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clear_button{
    color: red;
    font-size: medium;

    display: inline-block;

    cursor: pointer;
}

button {
    background: black;
    color: white;
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

button:hover{
    background: white;
    color: black;
    border: 1px solid black;

    cursor: pointer;
}