#time_slider {
    position: fixed;
    bottom: 5%;
    left: 66%;
    z-index: 1;
    display: block;
}

#time_slider_info{
    text-align: center;
}

select {
    width: 42.5%;
}

.code-btn {
    opacity: 50%;
    font-size: 90%;

    transition: 0.5s;
}

.code-btn:hover {
    opacity: 100%;
    cursor: pointer;

    transition: 0.5s;
}